body {
    font-family: 'Josefin Sans';
    background-color: #FFFAFB;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  
  }
  
  ::-webkit-scrollbar {
    width: 0px;
  }
  
  .right-arrow,
  .left-arrow {
    z-index: 10;
    height: 300px;
    align-self: center;
    justify-self: center;
    cursor: pointer;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transform: scale(1, 1);
    transition: 0.4s all ease-in-out;
  }
  
  .right-arrow {
    right: 140px;
  }
  
  .right-arrow:hover,
  .left-arrow:hover {
      background-color: #3ABEF9;
      padding: 5px;
  }
  
  .react-horizontal-scrolling-menu--wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .detail-image {
    width: 400px;
    height: 500px;
  }
  
  .hero-banner-img {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 700px;
    height: 900px;
    margin-top: -330px;
  
  }
  
  .exercise-card {
    width: 280px;
    height: fit;
    
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  .exercise-card img {
    height: 200px;
  }
  
  
  .exercise-card:hover,
  .exercise-video:hover {
    transform: scale(1.05, 1.05);
  }
  
  .search-btn:hover {
    color: #FF2625 !important;
    border: 1px solid #FF2625 !important;
  }
  
  .exercise-video {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 387px;
    height: 300px;
    text-decoration: none;
    transform: scale(1, 1);
    transition: 0.3s all ease-in-out;
  }
  
  @media screen and (max-width:1200px) {
    .detail-image {
      width: 300px;
      height: 300px;
    }
  
  
    .react-horizontal-scrolling-menu--scroll-container {
      width: 100%;
    }
  
    .left-arrow,
    .right-arrow {
      position: static !important;
    }
  
    .hero-banner-img {
      display: none;
    }
  
    .exercise-video {
      width: 320px;
      height: 300px;
    }
  
  }
  
 /* Base size */
.img-size {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-width: 600px; /* Maximum width */
}

/* For small devices (phones, portrait 600px and below) */
@media (max-width: 600px) {
  .img-size {
    width: 0%; /* 90% of the viewport width */
  }
}

/* For medium devices (tablets, landscape 600px to 900px) */
@media (min-width: 601px) and (max-width: 900px) {
  .img-size {
    width: 60%; /* 80% of the viewport width */
  }
}

/* For large devices (laptops/desktops, 900px and above) */
@media (min-width: 901px) {
  .img-size {
    width: 50%; /* 70% of the viewport width */
  }
}




  @media screen and (max-width:400px) {
    .exercise-card {
      width: 280px;
    }
  }

  